*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear


######################
# Maven
######################
/log/**
/target/**
*/target/*
*.class


######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig


######################
# Gradle
######################
.gradle/**


######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Mac OSX
######################
.DS_Store
.svn


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Directories
######################
/build/**
/bin/**
/data/**
/spring_loaded/**
/deploy/**

######################
# Logs
######################
*.log

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# Gradle Wrapper
######################
!gradle/wrapper/gradle-wrapper.jar

# JRebel #
rebel.xml

# persistence .xml for idea #
persistence.xml

/src/main/resources/db/datalog
!gradle-wrapper.jar

db/datalog/
